
  <h3 style="color: rgb(91, 91, 253);padding-left: 160px;">Profile</h3>
  <br>
    <section>
        <div class="d-flex ">
            <div class="img" style="padding-left: 160px;">
                <img [src]="url" height="220px"><br>
                <br>
                <button type="button" class="btn btn-warning">Edit Photo</button>
                <input type="file" (change)="onselectFile($event)" style="margin-left:10px ;">


            </div>
            <div class="inform" style="padding-left: 60px;">
                <h5>I'm Caroline Kassidy and Im above 20 years and <br>
                    you can send your emails to <h5 style="color: rgb(77, 77, 250);">caroline.kassidy@publicis.com.</h5> I live in the state of Alaska. I like to play hockey, <br>
                    football and reading books. And please send me <br>newsletters. Please reach out to me on my phone<br> number.</h5>
                    <br>
                    <button type="button" class="btn btn-success">I Agree</button>

            </div>
            
        </div>
        
    </section>